<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <ul>
        <li><a href="/">inbox</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/user">user</a></li>
    </ul>